<!DOCTYPE html>
<html lang="ko">

<head>
  <link rel="stylesheet" href="../css/alram.css" />
</head>

<body>
  <header>
    <div>
      <h1 class="Logo"><a href="#"><span>M</span>oing</a></h1>
      <nav>
        <ul class="menu">
          <li><a href="/about">ABOUT</a></li>
          <li><a href="/sttudy_find">STUDY FIND</a></li>
          <li><a href="#">내 스터디 커뮤니티</a></li>
        </ul>
      </nav>
    </div>
  </header>

  <div class="cr">
    <p>마이페이지 &gt; 알림 설정</p>
  </div>

  <div class="main">
    <h2>알림 설정</h2>

    <div class="mypage">
      <div class="page">마이페이지</div>
      <div class="my_info"><a href="/mypage/myinfo">내 정보</a></div>
      <div class="alram"><a href="/mypage/alram"><span>알림 설정</span></a></div>
      <div class="study"><a href="/hoststudy">스터디 관리</a></div>
    </div>

    <div class="alram_s">
      <ul>
        <li class="new">
          내가 가입한 스터디의 새 수업의 알림을 받습니다.
          <label class="button">
            <input type="checkbox" onclick="toggle(this)">
            <span class="toggle round"></span>
          </label>
        </li>
        <li class="sa">
          스터디 공지사항을 알림 받습니다.
          <label class="button">
            <input type="checkbox" onclick="toggle(this)">
            <span class="toggle round"></span>
          </label>
        </li>
      </ul>
    </div>
  </div>







  <footer>
    <div class="footer_f">
      <div class="f_logo">
        <span>M</span>oing
      </div>
      <div class="info">
        개인정보처리방침<span>|</span>이용약관<span>|</span>위치정보 이용약관<span>|</span>고객센터<span>|</span>공지사항
      </div>
      <address>모잉<span>|</span>경기도 안양시 동안구 비산동</address>
      <p>Copyright © Moing. All Rights Reserved.</p>
    </div>
  </footer>


  <script>
    function toggle(element) {
      console.log(element.checked);
    }
  </script>
</body>

</html>