<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="UTF-8" />
  <link rel="stylesheet" href="../views/css/host.css" />
  <link rel="stylesheet" type="text/css" href="https://cdn.rawgit.com/innks/NanumSquareRound/master/nanumsquareround.min.css">


  <title>Moing</title>
</head>

<body>
  <header>
    <div>
      <h1 class="Logo"><a href="/"><span>M</span>oing</a></h1>
      <nav>
        <ul class="menu">
          <li><a href="./about">ABOUT</a></li>
          <li><a href="./study_find">STUDY FIND</a></li>
          <li><a href="#">내 스터디 커뮤니티</a></li>
        </ul>
      </nav>
    </div>
  </header>

  <div class="cr">
    <p>마이페이지 &gt; 스터디 관리</p>
  </div>

  <div class="main">
    <h2>스터디 관리</h2>

    <div class="mypage">
      <div class="page">마이페이지</div>
      <div class="my_info"><a href="./myinfo">내 정보</a></div>
      <div class="alram"><a href="#">알림 설정</a></div>
      <div class="study"><a href="#"><span>스터디 관리</span></a></div>
    </div>


    <div class="study_list">
      <p>생성한 스터디 목록</p>
      <h3><a href="M_CR.html">+</a></h3>
      <ul>
        <li>자바 어려운 사람 드루와 드루와 </li>

        <li>
          <ul class="list">
            <li><a href="#">수업 등록</a></li>
            <li><a href="#">스터디 수정</a></li>
          </ul>
        </li>

        <li>디자인을 배워보자!</li>
        <li>
          <ul class="list">
            <li><a href="#">수업 등록</a></li>
            <li><a href="#">스터디 수정</a></li>
          </ul>
        </li>
      </ul>
    </div>

  </div>


  <footer>
    <div class="footer_f">
      <div class="f_logo">
        <span>M</span>oing
      </div>
      <div class="info">
        개인정보처리방침<span>|</span>이용약관<span>|</span>위치정보 이용약관<span>|</span>고객센터<span>|</span>공지사항
      </div>
      <address>모잉<span>|</span>경기도 안양시 동안구 비산동</address>
      <p>Copyright © Moing. All Rights Reserved.</p>
    </div>
  </footer>

</body></html>
