<!DOCTYPE html>
<html lang="ko">

<head>
  <link rel="stylesheet" href="../css/host_sample.css" />
  <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
  <header>
    <div>
      <h1 class="Logo"><a href="/"><span>M</span>oing</a></h1>
      <nav>
        <ul class="menu">
          <li><a href="/about">ABOUT</a></li>
          <li><a href="/study_find">STUDY FIND</a></li>
          <li><a href="#">내 스터디 커뮤니티</a></li>
        </ul>
      </nav>
    </div>
  </header>

  <div class="cr">
    <p>마이페이지 &gt; 스터디 관리</p>
  </div>

  <div class="main">
    <h2>스터디 관리</h2>

    <div class="mypage">
      <div class="page">마이페이지</div>
      <div class="my_info"><a href="/mypage/myinfo">내 정보</a></div>
      <div class="alram"><a href="/mypage/alram">알림 설정</a></div>
      <div class="study"><a href="/hoststudy"><span>스터디 관리</span></a></div>
    </div>


    <div class="study_list">
        <p>관리할 스터디 페이지를 선택하세요.</p>
        <h3><a href="#"><i class="fa fa-caret-down"></i></a></h3>
        <div class="notice">
            <span>공지사항</span>
            <table class="noc_table">
            <tr>
                <td>자바가 어려운 사람...</td>
                <td>자바공부를 시작하기 전 주의사항</td>
                <td>2020.07.03</td>
            </tr>
            <tr>
                <td>자바가 어려운 사람...</td>
                <td>자바공부를 시작하기 전 주의사항</td>
                <td>2020.07.03</td>
            </tr>
            <tr>
                <td>자바가 어려운 사람...</td>
                <td>자바공부를 시작하기 전 주의사항</td>
                <td>2020.07.03</td>
            </tr>
            <tr>
                <td>자바가 어려운 사람...</td>
                <td>자바공부를 시작하기 전 주의사항</td>
                <td>2020.07.03</td>
            </tr>
            <tr>
                <td>자바가 어려운 사람...</td>
                <td>자바공부를 시작하기 전 주의사항</td>
                <td>2020.07.03</td>
            </tr>
            </table>
        </div>
        <div style="clear: both;"></div>
        <div class="day_study">
        <span>주차별 수업</span>
        <table class="day_table">
            <tr>
                <td><img src="../img/new.jpg" alt="new"></td>
                <td>자바의 자료구조(4)</td>
                <td>자바가 어려운 사람...</td>
                <td>3주차</td>
            </tr>
            <tr>
            <td><img src="../img/new.jpg" alt="new"></td>
            <td>디자인 이론</td>
            <td>디자인을 배워보자!</td>
            <td>3주차</td>
        </tr>
        <tr>
            <td><img src="../img/new.jpg" alt="new"></td>
            <td>디자인이란 무엇인가(2)</td>
            <td>디자인을 배워보자!</td>
            <td>2주차</td>
        </tr>
        <tr>
            <td><img src="../img/new.jpg" alt="new"></td>
            <td>자바의 자료구조(1)</td>
            <td>자바가 어려운 사람...</td>
            <td>2주차</td>
        </tr>
        <tr>
            <td><img src="../img/new.jpg" alt="new"></td>
            <td>디자인이란 무엇인가(1)</td>
            <td>디자인을 배워보자!</td>
            <td>1주차</td>
        </tr>
        </table>
        </div>
        <div style="clear: both;"></div>
        <div class="day_sub">
            <span>주차별 과제 제출</span>
            <table class="sub_table">
            <tr>
                <td>자바의 자료구조(4)</td>
                <td>제출완료</td>
                <td>이준선</td>
            </tr>
            <tr>
                <td>자바의 자료구조(3)</td>
                <td>제출완료</td>
                <td>설유진</td>
            </tr>
            <tr>
                <td>자바의 자료구조(2)</td>
                <td>제출완료</td>
                <td>이윤아</td>
            </tr>
            <tr>
                <td>자바의 자료구조(1)</td>
                <td>제출완료</td>
                <td>조수인</td>
            </tr>
            <tr>
                <td>자바의 자료구조</td>
                <td>제출완료</td>
                <td>김서연</td>
            </tr>
            </table>
        </div>
        <div style="clear: both;"></div>
        <div class="community">
            <span>커뮤니티</span>
            <div class="question">
                <div class="text">
                  자바의 구조파트는 어떤 부분이 가장 어려운가요?
                </div>
                <div class="part">
                  <div class="smallpart">
                    자바가 어려운 사람들 드루와 드루와
                  </div>
                </div>
            </div>
            <div class="answer">
              <div class="text">
                디자인 잘 하는 노하우가 있을까요?
              </div>
              <div class="part">
                <div class="smallpart">
                  디자인을 배워보자!
                </div>
              </div>
            </div>
          </div>
    </div>
    <div style="clear: both;"></div>
  </div>



</body>

</html>