<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="UTF-8" />
  <link rel="stylesheet" href="../css/M_CR.css" />
  <link rel="stylesheet" type="text/css"
    href="https://cdn.rawgit.com/innks/NanumSquareRound/master/nanumsquareround.min.css">
  <script src="https://cdn.ckeditor.com/4.9.0/standard/ckeditor.js"></script>
  <title>Moing</title>
</head>

<body>
  <header>
    <div>
      <h1 class="Logo"><a href="/"><span>M</span>oing</a></h1>
      <nav>
        <ul class="menu">
          <li><a href="/about">ABOUT</a></li>
          <li><a href="/study_find">STUDY FIND</a></li>
          <li><a href="#">내 스터디 커뮤니티</a></li>
        </ul>
      </nav>
    </div>
  </header>


  <div class="cr">
    <p>스터디 생성하기</p>
  </div>

  <div class="body">
    <div class="container">

      <div class="st_cr">스터디 생성하기</div>

      <form method="post" action="/hoststudy/study_c">

        <div class="studyname">
          <label>스터디 이름<br>
            <input type="text" name="studyname" id="studyname">
          </label>
        </div>

        <div class="t_img">
          <p>상단 이미지</p>
          <!-- <input type="text" readonly="readonly" class="file-name">
          <label for="img">파일 업로드</label>
          <input type="file" name="img" id="img" accept="image/gif,image/jpeg,image/png"> -->
          <div class="dropzone" name="title_img"></div>
        </div>

        <div class="check">
          <p>분류</p>
          <label><input type="checkbox" name="check" value="coding">코딩</label>
          <label><input type="checkbox" name="check" value="english">영어</label><br>
          <label><input type="checkbox" name="check" value="design">디자인</label>
          <label><input type="checkbox" name="check" value="language">제2외국어</label><br>
          <label><input type="checkbox" name="check" value="toeic">토익</label>
          <label><input type="checkbox" name="check" value="any">기타</label>
          <input type="hidden" id="checkbox" name="checkbox">
        </div>

        <p>스터디 소개 및 커리큘럼 등록</p>
        <textarea id="study_info"></textarea>

        <!--<div class="st_i">
          <label>스터디 소개<br>
            <textarea cols="100" rows="10" name="study_i"></textarea>
          </label><br>
          <input type="file">
        </div>

        <div class="c_f">
          <label>커리큘럼 등록<br>
            <input type="file" name="curriculum">
          </label>
        </div>-->

        <div class="button">
          <input type="submit" name="submit" value="등록" id="btnSave" />
          <input type="button" name="cancle" value="취소" onclick="location.href='/hoststudy'">
        </div>

      </form>
    </div>
  </div>
  <footer>
    <div class="footer_f">
      <div class="f_logo">
        <span>M</span>oing
      </div>
      <div class="info">
        개인정보처리방침<span>|</span>이용약관<span>|</span>위치정보 이용약관<span>|</span>고객센터<span>|</span>공지사항
      </div>
      <address>모잉<span>|</span>경기도 안양시 동안구 비산동</address>
      <p>Copyright © Moing. All Rights Reserved.</p>
    </div>
  </footer>

  <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script> -->
  <script type="text/javascript" src="http://code.jquery.com/jquery-1.8.1.min.js"></script>
  <script>CKEDITOR.replace('study_info')</script>
  <script>
    $(document).ready(function() {
      $("#studyname").focus();


      function formcheck() {
        if($("#studyname").val() == ""){
          alert("스터디 방 이름을 입력해주세요!");
          $("#studyname").focus();
          return false;
        }
        return true;
      }
    })
  </script>

  <script>
    $(document).ready(function() {
      $("#btnSave").click(function() {
        var checkbox1 = [];
        $("input[name=check]:checked").each(function() {
          checkbox1.push($(this).val());
          var checkbox = checkbox1.join(' ');
          $("#checkbox").val(checkbox);
        });
      });
    })
  </script>

  <script>
    $(document).ready(function() {
      $('.dropzone').on("dragover",dragOver)
                    .on("dragleave", dragOver)
                    .on("drop",uploadFile);
      
      function dragOver(e){
        e.stopPropagation();
        e.preventDefault();

        if (e.type == "dragover") {
          $(e.target).css({
            "background-color":"gray",
            "outline-offset":"-20px"
          });
        }else {
          $(e.target).css({
              "background-color": "#b9b9b9",
              "outline-offset": "-10px"
          });
        }
      }
      
      function uploadFile(e){
        e.stopPropagation();
        e.preventDefault();
        dragOver(e);
        var file = e.originalEvent.dataTransfer.files;

        if(file[0].type.match(/image.*/)){
          $(e.target).css({
            "background-image":"url("+window.URL.createObjectURL(file[0]) + ")",
            "outline":"none",
            "background-size": "100% 100%"
          })
        } else {
          alert("이미지만 업로드해주세요!");
        }
        
      }
    })
  </script>
  <!-- <script>
    $(document).ready(function() {
      function fileupload() {
        $.each()
      }
    })
  </script> -->
</body>

</html>