<!DOCTYPE html>
<html lang="ko">

<head>
  <link rel="stylesheet" href="../css/M_MR.css" />
  <script src="https://cdn.ckeditor.com/4.9.0/standard/ckeditor.js"></script>
  
</head>

<body>
  <header>
    <div>
      <h1 class="Logo"><a href="#"><span>M</span>oing</a></h1>
      <nav>
        <ul class="menu">
          <li><a href="/about">ABOUT</a></li>
          <li><a href="/study_find">STUDY FIND</a></li>
          <li><a href="#">내 스터디 커뮤니티</a></li>
        </ul>
      </nav>
    </div>
  </header>


  <div class="cr">
    <p>스터디 수정하기</p>
  </div>

  <div class="body">

    <div class="container">

      <div class="st_mr">스터디 수정하기</div>

      <form method="post" action="/hoststudy/study_m">

        <div class="studyname">
          <label>스터디 이름<br>
            <input type="text" name="studyname" value="<%=data.room_name%>">
          </label>
        </div>

        <div class="t_img">
          <p>상단 이미지</p>
          <div class="dropzone">
            <p id="pp">드래그하여 이미지를 업로드 해주세요.</p>
          </div>
          <input type="hidden" id="title_img" name="title_img" >
          <input type="hidden" id="img" name="img">
        </div>

        <div class="check">
          <p>분류</p>
          <label><input type="checkbox" name="check" id="coding" value="코딩">코딩</label>
          <label><input type="checkbox" name="check" id="english" value="영어">영어</label><br>
          <label><input type="checkbox" name="check" id="design" value="디자인">디자인</label>
          <label><input type="checkbox" name="check" id="language" value="제2외국어">제2외국어</label><br>
          <label><input type="checkbox" name="check" id="toeic" value="토익">토익</label>
          <label><input type="checkbox" name="check" id="any" value="기타">기타</label>
          <input type="hidden" id="checkdata" value="<%=data.checkbox%>">
          <input type="hidden" id="checkbox" name="checkbox">
        </div>

        <p>스터디 소개 및 커리큘럼 등록</p>
        <textarea id="study_info"></textarea>
        <textarea id="s_info" style="display: none;"><%=data.introduce%></textarea>
        <textarea id="study" name="study" style="display: none;"></textarea>


        <!-- <div class="st_i">
          <label>스터디 소개<br>
            <textarea cols="100" rows="10" name="study_i"></textarea>
          </label><br>
          <input type="file">
        </div>

        <div class="c_f">
          <label>커리큘럼 등록<br>
            <input type="file" name="curriculum">
          </label>
        </div> -->

        <div class="button">
          <input type="submit" name="submit" value="수정" id="btnModify"/>
          <input type="button" name="cancle" value="취소" onclick="location.href='/hoststudy'">
        </div>
        <input type="hidden" name="studyidx" value="<%=data.hoststudy_id%>">
      </form>
    </div>
  </div>
  


  <script type="text/javascript" src="http://code.jquery.com/jquery-1.8.1.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script>CKEDITOR.replace('study_info')</script>
  <script>
    $(document).ready(function() {
      var s_info = $("#s_info").val();
      var info_data = CKEDITOR.instances.study_info.setData(s_info);

      $("#studyname").focus();
    })
  </script>
   <script>
    $(document).ready(function() {
      var checkbox1 = $("#checkdata").val();

      if(checkbox1.indexOf("코딩") != -1){
        $("input:checkbox[id='코딩']").prop("checked",true);
      }
      if(checkbox1.indexOf("영어") != -1){
        $("input:checkbox[id='영어']").prop("checked",true);
      }
      if(checkbox1.indexOf("디자인") != -1){
        $("input:checkbox[id='디자인']").prop("checked",true);
      }
      if(checkbox1.indexOf("제2외국어") != -1){
        $("input:checkbox[id='제2외국어']").prop("checked",true);
      }
      if(checkbox1.indexOf("토익") != -1){
        $("input:checkbox[id='토익']").prop("checked",true);
      }
      if(checkbox1.indexOf("기타") != -1){
        $("input:checkbox[id='기타']").prop("checked",true);
      }
      

      $("#btnModify").click(function() {
        if($("#studyname").val() == ""){
          alert("스터디 방 이름을 입력해주세요!");
          $("#studyname").focus();
          return false;
        }
        return true;

        var checkbox2 = [];
        $("input[name=check]:checked").each(function() {
          checkbox2.push($(this).val());
          var checkbox = checkbox2.join(' ');
          $("input[name=checkbox]").val(checkbox);
        });
        var info_data = CKEDITOR.instances.study_info.getData();
        $("#study").val(info_data);
      });
    })
  </script>

<script>
  $(document).ready(function() {
    $('.dropzone').on("dragover",dragOver)
                  .on("dragleave", dragOver)
                  .on("drop",uploadFile);
    
    function dragOver(e){
      e.stopPropagation();
      e.preventDefault();

      if (e.type == "dragover") {
        $(e.target).css({
          "background-color":"gray",
          "outline-offset":"-20px"
        });
      }else {
        $(e.target).css({
            "background-color": "#b9b9b9",
            "outline-offset": "-10px"
        });
      }
    }
    
    function uploadFile(e){
      e.stopPropagation();
      e.preventDefault();
      dragOver(e);
      var file = e.originalEvent.dataTransfer.files;

      if(file[0].type.match(/image.*/)){
        $(e.target).css({
          "background-image":"url("+window.URL.createObjectURL(file[0]) + ")",
          "outline":"none",
          "background-size": "100% 100%"
        })
        var file_info = file[0].name;
        $("#img").val(file_info);
        $("#pp").hide();
      } else {
        alert("이미지만 업로드해주세요!");
      }
      
    }
  })
</script>
</body>

</html>