<!DOCTYPE html>
<html lang="ko">

<head>
  <link rel="stylesheet" href="../css/myinfo_m.css" />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
</head>

<body>
  <header>
    <div>
      <h1 class="Logo"><a href="/"><span>M</span>oing</a></h1>
      <nav>
        <ul class="menu">
          <li><a href="/about">ABOUT</a></li>
          <li><a href="/study_find">STUDY FIND</a></li>
          <li><a href="#">내 스터디 커뮤니티</a></li>
        </ul>
      </nav>
    </div>
  </header>

  <div class="cr">
    <p>마이페이지 &gt; 내 정보</p>
  </div>

  <div class="main">
    <h2>내 정보 수정</h2>

    <div class="mypage">
      <div class="page">마이페이지</div>
      <div class="my_info"><a href="/mypage/myinfo"><span>내 정보</span></a></div>
      <div class="alram"><a href="/mypage/alram">알림 설정</a></div>
      <div class="study"><a href="/mypage/host">스터디 관리</a></div>
    </div>

    <div class="m_info">
      <form method="post" enctype="multipart/form-data" action="/mypage/myinfo_m">


        <input type="file" id="files" name="files">
        <img src="/views/upload/<%=data.user_img%>" id="profile">

        <div class="mymy">
          <div class="nickname">
            <label>별명
              <input type="text" id="nickname" name="nickname">
            </label>
          </div>

          <div class="job">
            <label>직업
              <input type="text" id="job" name="job">
            </label>
          </div>

          <div class="check">
            <p>관심 분야</p>
            <div>
              <label><input type="checkbox" id="coding" name="coding" value="코딩">코딩</label>
              <label><input type="checkbox" id="english" name="english" value="영어">영어</label><br>
              <label><input type="checkbox" id="design" name="design" value="디자인">디자인</label>
              <label><input type="checkbox" id="language" name="language" value="제2외국어">제2외국어</label><br>
              <label><input type="checkbox" id="toeic" name="toeic" value="토익">토익</label>
              <label><input type="checkbox" id="any" name="any" value="기타">기타</label>
            </div>
          </div>

          <div class="email">
            <label>E-mail
              <input type="text" id="email" name="email" value="<%=data.user_email %>">
            </label>
          </div>

          <div class="password">
            <p>패스워드 수정</p>
            <div>
              <input type="text" placeholder="현재 비밀번호" id="npwd"><br>
              <input type="text" placeholder="새 비밀번호" id="newpwd"><br>
              <input type="text" placeholder="새 비밀번호 확인" id="npwd_c">
            </div>
          </div>

          <div class="phone">
            <label>휴대폰
              <input type="number" id="phone" name="phone">
            </label>
          </div>

          <div class="my">
            <p>자기 소개</p>
            <textarea cols="30" rows="10" id="myinfo" name="myinfo"></textarea>
          </div>
        </div>

        <div class="button">
          <input type="submit" name="submit" value="등록" />
          <input type="button" name="cancle" value="취소" onClick="location.href='/mypage/myinfo'" />
        </div>
      </form>
    </div>
    <div style="clear:both;"></div>
  </div>








  <script type="text/javascript">
    function readURL(input) {
      if (input.files && input.files[0]) {
        var reader = new FileReader();
        reader.onload = function (e) {
          $('#profile').attr('src', e.target.result);
        }
        reader.readAsDataURL(input.files[0]);
      }
    }

    $("#files").change(function () {
      readURL(this);
    });

  </script>


</body>

</html>