<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="UTF-8" />
  <link rel="stylesheet" href="../../css/myinfo_m.css" />
  <link rel="stylesheet" type="text/css"
    href="https://cdn.rawgit.com/innks/NanumSquareRound/master/nanumsquareround.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

  <title>Moing</title>
</head>

<body>
  <header>
    <div>
      <h1 class="Logo"><a href="/"><span>M</span>oing</a></h1>
      <nav>
        <ul class="menu">
          <li><a href="/about">ABOUT</a></li>
          <li><a href="/study_find">STUDY FIND</a></li>
          <li><a href="#">내 스터디 커뮤니티</a></li>
        </ul>
      </nav>
    </div>
  </header>

  <div class="cr">
    <p>마이페이지 &gt; 내 정보</p>
  </div>

  <div class="main">
    <h2>내 정보 수정</h2>

    <div class="mypage">
      <div class="page">마이페이지</div>
      <div class="my_info"><a href="/mypage/myinfo"><span>내 정보</span></a></div>
      <div class="alram"><a href="#">알림 설정</a></div>
      <div class="study"><a href="#">스터디 관리</a></div>
    </div>

    <div class="m_info">
      <form method="post">


        <input type="file" id="files">
        <img src="#" id="foo">

        <div class="mymy">
          <div class="nickname">
            <label>별명
              <input type="text">
            </label>
          </div>

          <div class="job">
            <label>직업
              <input type="text">
            </label>
          </div>

          <div class="check">
            <p>관심 분야</p>
            <div>
              <label><input type="checkbox" name="coding">코딩</label>
              <label><input type="checkbox" name="english">영어</label><br>
              <label><input type="checkbox" name="design">디자인</label>
              <label><input type="checkbox" name="language">제2외국어</label><br>
              <label><input type="checkbox" name="toeic">토익</label>
              <label><input type="checkbox" name="any">기타</label>
            </div>
          </div>

          <div class="email">
            <label>E-mail
              <input type="text">
            </label>
          </div>

          <div class="password">
            <p>패스워드 수정</p>
            <div>
              <input type="text" placeholder="현재 비밀번호"><br>
              <input type="text" placeholder="새 비밀번호"><br>
              <input type="text" placeholder="새 비밀번호 확인">
            </div>
          </div>

          <div class="phone">
            <label>휴대폰
              <input type="number">
            </label>
          </div>

          <div class="my">
            <p>자기 소개</p>
            <textarea cols="30" rows="10"></textarea>
          </div>
        </div>

        <div class="button">
          <input type="submit" name="submit" value="등록" />
          <input type="button" name="cancle" value="취소">
        </div>

      </form>
    </div>
    <div style="clear:both;"></div>
  </div>







  <footer>
    <div class="footer_f">
      <div class="f_logo">
        <span>M</span>oing
      </div>
      <div class="info">
        개인정보처리방침<span>|</span>이용약관<span>|</span>위치정보 이용약관<span>|</span>고객센터<span>|</span>공지사항
      </div>
      <address>모잉<span>|</span>경기도 안양시 동안구 비산동</address>
      <p>Copyright © Moing. All Rights Reserved.</p>
    </div>
  </footer>


  <script type="text/javascript">
    function readURL(input) {
      if (input.files && input.files[0]) {
        var reader = new FileReader();
        reader.onload = function (e) {
          $('#foo').attr('src', e.target.result);
        }
        reader.readAsDataURL(input.files[0]);
      }
    }

    $("#files").change(function () {
      readURL(this);
    });

  </script>


</body>

</html>