<!DOCTYPE html>
<html lang="ko">

<head>
  <link rel="stylesheet" href="../css/myinfo.css" />
</head>

<body>
  <header>
    <div>
      <h1 class="Logo"><a href="/"><span>M</span>oing</a></h1>
      <nav>
        <ul class="menu">
          <li><a href="/about">ABOUT</a></li>
          <li><a href="/study_find">STUDY FIND</a></li>
          <li><a href="#">내 스터디 커뮤니티</a></li>
        </ul>
      </nav>
    </div>
  </header>

  <div class="cr">
    <p>마이페이지 &gt; 내 정보</p>
  </div>

  <div class="main">
    <h2>내 정보</h2>

    <div class="mypage">
      <div class="page">마이페이지</div>
      <div class="my_info"><a href="/mypage/myinfo"><span>내 정보</span></a></div>
      <div class="alram"><a href="/mypage/alram">알림 설정</a></div>
      <div class="study"><a href="/hoststudy">스터디 관리</a></div>
    </div>

    <div class="m_info">
      <img src="../img/about.png">
      <table>
        <tr>
          <td>별명</td>
          <td>황수연#1234</td>
        </tr>
        <tr>
          <td>직업</td>
          <td>학생</td>
        </tr>
        <tr>
          <td>관심분야</td>
          <td>토익</td>
        </tr>
        <tr>
          <td>E-mail</td>
          <td>htndus96@naver.com</td>
        </tr>
        <tr>
          <td>휴대폰</td>
          <td>010-1234-5678</td>
        </tr>
        <tr>
          <td>자기소개</td>
          <td>
            <div class="textarea">작성한 자기소개</div>
          </td>
        </tr>
      </table>
      <a href="/mypage/myinfo_m"><button type="button">프로필 수정</button></a>
    </div>
  </div>











</body>

</html>