<!DOCTYPE html>
<html lang="ko">

<head>
  <link rel="stylesheet" href="../css/study_find.css" />
  <script src="https://kit.fontawesome.com/beac3a0b23.js" crossorigin="anonymous"></script>
</head>

<body>
  <div class="body">
    <header>
      <div>
        <h1 class="Logo"><a href="/"><span>M</span>oing</a></h1>
        <nav>
          <ul class="menu">
            <li>
              <a href="/about">ABOUT</a>
            </li>
            <li><a href="/study_find"><span>STUDY FIND</span></a></li>
            <li><a href="#">내 스터디 커뮤니티</a></li>
          </ul>
        </nav>
      </div>
    </header>

    <p class="study_find">STUDY FIND</p>
    <div class="search">
      <input type="search">
      <i class="fas fa-search fa-lg"></i>
    </div>

    <div class="list">
      <% for(var i=0;i<data.length;i++){ %>
      <div class="study" OnClick="location.href= '/studyroom?hoststudy_id=<%=data[i].hoststudy_id %>'">
        <img src="../img/new.jpg">
        <div class="study_title">
          <p><%=data[i].room_name %></p>
        </div>
        <div class="checked">
          <p><%=data[i].checkbox %></p>
        </div>
        <div class="p">
          <p>98명 가입<span>가입 가능</span></p>
        </div>
        <div class="founder">
          <p>개설자 <span><%=data[i].host_name %></span></p>
        </div>
      </div>
      <% }%>
    </div>

    <div class="page">
      <ul>
        <li>&lt;</li>
        <li class="num">1</li>
        <li>&gt;</li>
      </ul>
    </div>
  </div>
</body>

</html>