<!DOCTYPE html>
<html lang="ko">

<head>
  <link rel="stylesheet" href="../css/study_room.css" />
</head>

<body>
  <div class="body">
    <header>
      <div>
        <h1 class="Logo"><a href="/"><span>M</span>oing</a></h1>
        <nav>
          <ul class="menu">
            <li>
              <a href="/about">ABOUT</a>
            </li>
            <li><a href="/study_find"><span>STUDY FIND</span></a></li>
            <li><a href="#">내 스터디 커뮤니티</a></li>
          </ul>
        </nav>
      </div>
    </header>

    <div class="middleText">
      <img class="study_img" src="../img/about.png">
      <h2 class="study_title">자바 어려운 사람 드루와 드루와</h2>
    </div>

    <div class="mypage">
      <div class="page">황수연
        <div class="progress">진척도 보기</div>
      </div>
      <div class="my_info"><a href="/mypage/myinfo"><span>마이페이지</span></a></div>
      <div class="alram"><a href="/mypage/alram">학습하러 가기</a></div>
      <div class="study"><a href="/hoststudy">과제 제출</a></div>
      <div class="secede">그룹 탈퇴하기</div>
    </div>

    <div class="contents">
      <div class="content1">
        <div class="notice">
          <h2>공지사항</h2>
          <ul>
            <div>
              <li>자바공부를 하기 전 주의사항<span>2020.06.30</span></li>
            </div>
            <div>
              <li>자바공부를 하기 전 주의사항<span>2020.06.30</span></li>
            </div>
            <div>
              <li>자바공부를 하기 전 주의사항<span>2020.06.30</span></li>
            </div>
            <div>
              <li>자바공부를 하기 전 주의사항<span>2020.06.30</span></li>
            </div>
          </ul>
        </div>
        <div class="studylist">
          <h2>스터디 목록</h2>
          <ul>
            <div>
              <li><img src="../img/new.jpg" alt="스터디이미지"><a href="#">자바의 자료구조(4)</a><span>2020.06.30</span></li>
            </div>
            <div>
              <li><img src="../img/new.jpg" alt="스터디이미지"><a href="#">자바의 자료구조(3)</a><span>2020.06.30</span></li>
            </div>
            <div>
              <li><img src="../img/new.jpg" alt="스터디이미지"><a href="#">자바의 자료구조(2)</a><span>2020.06.30</span></li>
            </div>
            <div>
              <li><img src="../img/new.jpg" alt="스터디이미지"><a href="#">자바의 자료구조(1)</a><span>2020.06.30</span></li>
            </div>
            <div>
              <li><img src="../img/new.jpg" alt="스터디이미지"><a href="#">자바의 자료구조</a><span>2020.06.30</span></li>
            </div>
          </ul>
        </div>
      </div>
      <div class="content2">
        <div class="attend">
          <h2>스터디 참여자</h2>
          <div class="people_area">
            <div class="people_name">
              <ul>
                <li>홍길동</li>
                <li>홍길동</li>
                <li>홍길동</li>
                <li>홍길동</li>
                <li>홍길동</li>
                <li>홍길동</li>
                <li>홍길동</li>
                <li>홍길동</li>
              </ul>
          </div>
          </div>
        </div>
        <div class="sublist">
          <h2>제출 목록</h2>
          <ul>
            <li><span class="day">2020.07.02</span><a href="#">자바의 자료구조(4)</a><span class="complate">제출완료</span></li>
            <li><span class="day">2020.07.02</span><a href="#">자바의 자료구조(3)</a><span class="complate">제출완료</span></li>
            <li><span class="day">2020.07.02</span><a href="#">자바의 자료구조(2)</a><span class="complate">제출완료</span></li>
            <li><span class="day">2020.07.02</span><a href="#">자바의 자료구조(1)</a><span class="complate">제출완료</span></li>
            <li><span class="day">2020.07.02</span><a href="#">자바의 자료구조</a><span class="complate">제출완료</span></li>
          </ul>
        </div>
        <div class="community">
          <h2>커뮤니티</h2> 
          <div class="re_real">
            <span class="realtime">실시간</span>  
            <span class="recommend">| 추천순</span>
          </div>
          <div class="question">
              <div class="text">
                자바의 구조파트는 어떤 부분이 가장 어려운가요?
              </div>
              <div class="part">
                자바의 자료구조(1)
              </div>
          </div>
          <div class="answer">

          </div>
        </div>
      </div>
    </div>
    <div style="clear: both;"></div>
  </div>

</body>

</html>