<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="UTF-8" />
  <link rel="stylesheet" href="../css/study_room.css" />
  <link rel="stylesheet" type="text/css"
    href="https://cdn.rawgit.com/innks/NanumSquareRound/master/nanumsquareround.min.css">
  <title>Moing</title>
</head>

<body>
  <div class="body">
    <header>
      <div>
        <h1 class="Logo"><a href="/"><span>M</span>oing</a></h1>
        <nav>
          <ul class="menu">
            <li>
              <a href="/about">ABOUT</a>
            </li>
            <li><a href="/study_find"><span>STUDY FIND</span></a></li>
            <li><a href="#">내 스터디 커뮤니티</a></li>
          </ul>
        </nav>
      </div>
    </header>

    <div class="middleText">
      <img class="study_img" src="../img/about.png">
      <h2 class="study_title">자바 어려운 사람 드루와 드루와</h2>
    </div>

    <div class="mypage">
      <div class="page">황수연
        <div class="progress">진척도 보기</div>
      </div>
      <div class="my_info"><a href="/mypage/myinfo"><span>마이페이지</span></a></div>
      <div class="alram"><a href="/mypage/alram">학습하러 가기</a></div>
      <div class="study"><a href="/hoststudy">과제 제출</a></div>
      <div class="secede">그룹 탈퇴하기</div>
    </div>


  </div>

  <footer>
    <div class="footer_f">
      <div class="f_logo">
        <span>M</span>oing
      </div>
      <div class="info">
        개인정보처리방침<span>|</span>이용약관<span>|</span>위치정보 이용약관<span>|</span>고객센터<span>|</span>공지사항
      </div>
      <address>모잉<span>|</span>경기도 안양시 동안구 비산동</address>
      <p>Copyright © Moing. All Rights Reserved.</p>
    </div>
  </footer>
</body>

</html>