<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="UTF-8" />
  <link rel="stylesheet" href="../css/study_find.css" />
  <link rel="stylesheet" type="text/css"
    href="https://cdn.rawgit.com/innks/NanumSquareRound/master/nanumsquareround.min.css">
  <script src="https://kit.fontawesome.com/beac3a0b23.js" crossorigin="anonymous"></script>
  <title>Moing</title>
</head>

<body>
  <div class="body">
    <header>
      <div>
        <h1 class="Logo"><a href="/"><span>M</span>oing</a></h1>
        <nav>
          <ul class="menu">
            <li>
              <a href="/about">ABOUT</a>
            </li>
            <li><a href="/study_find"><span>STUDY FIND</span></a></li>
            <li><a href="#">내 스터디 커뮤니티</a></li>
          </ul>
        </nav>
      </div>
    </header>

    <p class="study_find">STUDY FIND</p>
    <div class="search">
      <input type="search">
      <i class="fas fa-search fa-lg"></i>
    </div>

    <div class="list">
      <div class="study" OnClick="location.href= '/study_room'">
        <img src="../views/img/%EB%B0%A4%EA%B3%BC_%EB%B3%84%EC%9D%98_%EB%85%B8%EB%9E%98.jpg">
        <div class="study_title">
          <p>자바 어려운 사람 드루와 드루와</p>
        </div>
        <div class="checked">
          <p>코딩 디자인</p>
        </div>
        <div class="p">
          <p>98명 가입<span>가입 가능</span></p>
        </div>
        <div class="founder">
          <p>개설자 <span>황수연</span></p>
        </div>
      </div>

      <div class="study">
        <img src="../views/img/%EB%B0%A4%EA%B3%BC_%EB%B3%84%EC%9D%98_%EB%85%B8%EB%9E%98.jpg">
        <div class="study_title">
          <p>자바 어려운 사람 드루와 드루와</p>
        </div>
        <div class="checked">
          <p>코딩 디자인</p>
        </div>
        <div class="p">
          <p>98명 가입<span>가입 가능</span></p>
        </div>
        <div class="founder">
          <p>개설자 <span>황수연</span></p>
        </div>
      </div>
      <div class="study">
        <img src="../views/img/%EB%B0%A4%EA%B3%BC_%EB%B3%84%EC%9D%98_%EB%85%B8%EB%9E%98.jpg">
        <div class="study_title">
          <p>자바 어려운 사람 드루와 드루와</p>
        </div>
        <div class="checked">
          <p>코딩 디자인</p>
        </div>
        <div class="p">
          <p>98명 가입<span>가입 가능</span></p>
        </div>
        <div class="founder">
          <p>개설자 <span>황수연</span></p>
        </div>
      </div>
      <div class="study">
        <img src="../views/img/%EB%B0%A4%EA%B3%BC_%EB%B3%84%EC%9D%98_%EB%85%B8%EB%9E%98.jpg">
        <div class="study_title">
          <p>자바 어려운 사람 드루와 드루와</p>
        </div>
        <div class="checked">
          <p>코딩 디자인</p>
        </div>
        <div class="p">
          <p>98명 가입<span>가입 가능</span></p>
        </div>
        <div class="founder">
          <p>개설자 <span>황수연</span></p>
        </div>
      </div>
      <div class="study">
        <img src="../views/img/%EB%B0%A4%EA%B3%BC_%EB%B3%84%EC%9D%98_%EB%85%B8%EB%9E%98.jpg">
        <div class="study_title">
          <p>자바 어려운 사람 드루와 드루와</p>
        </div>
        <div class="checked">
          <p>코딩 디자인</p>
        </div>
        <div class="p">
          <p>98명 가입<span>가입 가능</span></p>
        </div>
        <div class="founder">
          <p>개설자 <span>황수연</span></p>
        </div>
      </div>
      <div class="study">
        <img src="../views/img/%EB%B0%A4%EA%B3%BC_%EB%B3%84%EC%9D%98_%EB%85%B8%EB%9E%98.jpg">
        <div class="study_title">
          <p>자바 어려운 사람 드루와 드루와</p>
        </div>
        <div class="checked">
          <p>코딩 디자인</p>
        </div>
        <div class="p">
          <p>98명 가입<span>가입 가능</span></p>
        </div>
        <div class="founder">
          <p>개설자 <span>황수연</span></p>
        </div>
      </div>
      <div class="study">
        <img src="../views/img/%EB%B0%A4%EA%B3%BC_%EB%B3%84%EC%9D%98_%EB%85%B8%EB%9E%98.jpg">
        <div class="study_title">
          <p>자바 어려운 사람 드루와 드루와</p>
        </div>
        <div class="checked">
          <p>코딩 디자인</p>
        </div>
        <div class="p">
          <p>98명 가입<span>가입 가능</span></p>
        </div>
        <div class="founder">
          <p>개설자 <span>황수연</span></p>
        </div>
      </div>
      <div class="study">
        <img src="../views/img/%EB%B0%A4%EA%B3%BC_%EB%B3%84%EC%9D%98_%EB%85%B8%EB%9E%98.jpg">
        <div class="study_title">
          <p>자바 어려운 사람 드루와 드루와</p>
        </div>
        <div class="checked">
          <p>코딩 디자인</p>
        </div>
        <div class="p">
          <p>98명 가입<span>가입 가능</span></p>
        </div>
        <div class="founder">
          <p>개설자 <span>황수연</span></p>
        </div>
      </div>
      <div class="study">
        <img src="../views/img/%EB%B0%A4%EA%B3%BC_%EB%B3%84%EC%9D%98_%EB%85%B8%EB%9E%98.jpg">
        <div class="study_title">
          <p>자바 어려운 사람 드루와 드루와</p>
        </div>
        <div class="checked">
          <p>코딩 디자인</p>
        </div>
        <div class="p">
          <p>98명 가입<span>가입 가능</span></p>
        </div>
        <div class="founder">
          <p>개설자 <span>황수연</span></p>
        </div>
      </div>

    </div>

    <div class="page">
      <ul>
        <li>&lt;</li>
        <li class="num">1</li>
        <li>&gt;</li>
      </ul>
    </div>
  </div>
  <footer>
    <div class="footer_f">
      <div class="f_logo">
        <span>M</span>oing
      </div>
      <div class="info">
        개인정보처리방침<span>|</span>이용약관<span>|</span>위치정보 이용약관<span>|</span>고객센터<span>|</span>공지사항
      </div>
      <address>모잉<span>|</span>경기도 안양시 동안구 비산동</address>
      <p>Copyright © Moing. All Rights Reserved.</p>
    </div>
  </footer>
</body>

</html>