<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="UTF-8" />
  <link rel="stylesheet" href="../css/study.css" />
  <link rel="stylesheet" type="text/css" href="https://cdn.rawgit.com/innks/NanumSquareRound/master/nanumsquareround.min.css">


  <title>Moing</title>
</head>

<body>
  <header>
    <div>
      <h1 class="Logo"><a href="#"><span>M</span>oing</a></h1>
      <nav>
        <ul class="menu">
          <li><a href="#">ABOUT</a></li>
          <li><a href="#">STUDY FIND</a></li>
          <li><a href="#">내 스터디 커뮤니티</a></li>
        </ul>
      </nav>
    </div>
  </header>

  <div class="cr">
    <p>자바 어려운 사람 드루와 드루와 &gt; 학습하기</p>
  </div>

  <div class="main">

    <div class="class">
      <div class="side">
        <p>자바의 자료구조</p>
        <button class="tabmenu active" onclick="openTab(event,'tab1')">자바의 자료구조(1)<br><span>2020.05.15</span>
        </button>
        <button class="tabmenu" onclick="openTab(event,'tab2')">
          자바의 자료구조(2)<br><span>2020.05.15</span>
        </button>
        <button class="tabmenu" onclick="openTab(event,'tab3')">자바의 자료구조(3)<br><span>2020.05.15</span>
        </button>
        <button class="tabmenu" onclick="openTab(event,'tab4')">자바의 자료구조(4)<br><span>2020.05.15</span></button>
      </div>



      <div class="con one" id="tab1">
        <div class="video">
          (영상)
        </div>

        <div class="tab">
          <button class="subtab on" onclick="subTab(event,'sub1')">내용</button>
          <button class="subtab" onclick="subTab(event,'sub2')">학습자료</button>


          <div class="sub" id="sub1">
           111111
            오늘은 자바의 자료구조 첫 시간 입니다.<br>
            어렵다면 질문 주시면 바로 도와드리겠습니다.<br><br>
            상하좌우 여백은 20픽셀입니다.
          </div>
          
           <div class="sub" id="sub2">
             <ul>
               <li>
                 자바의 자료구조.pptx
                 <button>다운로드</button>
               </li>
               <li>
                 자료구조.pptx
                 <button>다운로드</button>
               </li>
               <li>
                 2_자료구조.pptx
                 <button>다운로드</button>
               </li>
               <li>
                 3_자료구조.pptx
                 <button>다운로드</button>
               </li>
               <li>
                 4_자료구조.pptx
                 <button>다운로드</button>
               </li>
               <li>
                5_자료구조.pptx
                 <button>다운로드</button>
               </li>
             </ul>
          </div>
        </div>
      </div>


      <div class="con" id="tab2">
        <div class="video">
          (영상)
        </div>

        <div class="tab">
          <button class="subtab on" onclick="subTab(event,'sub3')">내용</button>
          <button class="subtab" onclick="subTab(event,'sub4')">학습자료</button>


          <div class="sub" id="sub3">
           222222 
           오늘은 자바의 자료구조 첫 시간 입니다.<br>
            어렵다면 질문 주시면 바로 도와드리겠습니다.<br><br>
            상하좌우 여백은 20픽셀입니다.
          </div>
          
           <div class="sub" id="sub4">
             <ul>
               <li>
                 자바의 자료구조.pptx
                 <button>다운로드</button>
               </li>
               <li>
                 자료구조.pptx
                 <button>다운로드</button>
               </li>
               <li>
                 2_자료구조.pptx
                 <button>다운로드</button>
               </li>
               <li>
                 3_자료구조.pptx
                 <button>다운로드</button>
               </li>
               <li>
                 4_자료구조.pptx
                 <button>다운로드</button>
               </li>
               <li>
                5_자료구조.pptx
                 <button>다운로드</button>
               </li>
             </ul>
          </div>
        </div>
      </div>

      <div class="con" id="tab3">
        <div class="video">
          (영상)
        </div>

        <div class="tab">
          <button class="subtab on" onclick="subTab(event,'sub5')">내용</button>
          <button class="subtab" onclick="subTab(event,'sub6')">학습자료</button>


          <div class="sub" id="sub5">
           33333
            오늘은 자바의 자료구조 첫 시간 입니다.<br>
            어렵다면 질문 주시면 바로 도와드리겠습니다.<br><br>
            상하좌우 여백은 20픽셀입니다.
          </div>
          
           <div class="sub" id="sub6">
             <ul>
               <li>
                 자바의 자료구조.pptx
                 <button>다운로드</button>
               </li>
               <li>
                 자료구조.pptx
                 <button>다운로드</button>
               </li>
               <li>
                 2_자료구조.pptx
                 <button>다운로드</button>
               </li>
               <li>
                 3_자료구조.pptx
                 <button>다운로드</button>
               </li>
               <li>
                 4_자료구조.pptx
                 <button>다운로드</button>
               </li>
               <li>
                5_자료구조.pptx
                 <button>다운로드</button>
               </li>
             </ul>
          </div>
        </div>
      </div>

      <div class="con" id="tab4">
        <div class="video">
          (영상)
        </div>

        <div class="tab">
          <button class="subtab on" onclick="subTab(event,'sub7')">내용</button>
          <button class="subtab" onclick="subTab(event,'sub8')">학습자료</button>


          <div class="sub" id="sub7">
           44444444
            오늘은 자바의 자료구조 첫 시간 입니다.<br>
            어렵다면 질문 주시면 바로 도와드리겠습니다.<br><br>
            상하좌우 여백은 20픽셀입니다.
          </div>
          
           <div class="sub" id="sub8">
             <ul>
               <li>
                 자바의 자료구조.pptx
                 <button>다운로드</button>
               </li>
               <li>
                 자료구조.pptx
                 <button>다운로드</button>
               </li>
               <li>
                 2_자료구조.pptx
                 <button>다운로드</button>
               </li>
               <li>
                 3_자료구조.pptx
                 <button>다운로드</button>
               </li>
               <li>
                 4_자료구조.pptx
                 <button>다운로드</button>
               </li>
               <li>
                5_자료구조.pptx
                 <button>다운로드</button>
               </li>
             </ul>
          </div>
        </div>
      </div>

    </div>
  </div>







  <footer>
    <div class="footer_f">
      <div class="f_logo">
        <span>M</span>oing
      </div>
      <div class="info">
        개인정보처리방침<span>|</span>이용약관<span>|</span>위치정보 이용약관<span>|</span>고객센터<span>|</span>공지사항
      </div>
      <address>모잉<span>|</span>경기도 안양시 동안구 비산동</address>
      <p>Copyright © Moing. All Rights Reserved.</p>
    </div>
  </footer>



  <script type="text/javascript" src="../../js/study.js" ></script>
</body></html>
