html {
    height: 100%;
    margin: 0 auto;
    font-family: "NanumSquareRound", sans-serif;
  }
  
  li {
    list-style: none;
  }
  
  a {
    text-decoration: none;
    color: black;
  }
  
  body {
    height: 100%;
    margin: 0 auto;
    padding: 0 auto;
  }
  
  
  .main {
    min-height: 100%;
    position: relative;
    width: 1200px;
    margin: 0 auto;
  }
  
  /*메뉴와 로고 설정*/
  header {
    width: 1200px;
    margin: 0 auto;
    top: 0;
    height: 100px;
  }
  
  header > div {
    float: left;
    width: 830px;
  }
  
  .Logo {
    line-height: 40px;
    margin: 30px 55px 30px 65px;
    float: left;
    font-weight: 800;
    font-size: 36px;
  }
  
  .Logo span {
    color: #43b3c1;
  }
  
  .menu {
    float: right;
    padding: 0px;
    margin: 0px;
  }
  
  .menu li {
    float: left;
  }
  
  .menu a {
    line-height: 40px;
    margin: 30px 55px;
    display: block;
    color: black;
    font-size: 16px;
    font-weight: 400;
  }
  
  
  
  
  .cr {
    min-width: 1200px;
    height: 30px;
    line-height: 30px;
    font-size: 14px;
    text-align: left;
    border-top: solid 2px #eeeeee;
    border-bottom: solid 2px #eeeeee;
    margin: 0px;
  }
  
  .cr p {
    width: 1200px;
    margin: 0 auto;
    padding-left: 130px;
  }
  
  
  
  
  
  
  h2 {
    text-align: center;
    font-size: 28px;
    font-weight: normal;
    margin: 60px 35px 60px 210px;
  }
  
  .mypage {
    position: sticky;
    float: left;
    top: 20px;
    margin-left: 40px;
    border-radius: 3px;
    border: solid 2px #39bde7;
    width: 140px;
    height: 190px;
    text-align: center;
    font-size: 16px;
    border-radius: 3px;
  }
  
  .page {
    font-weight: bold;
    margin: 29px 0px;
  }
  
  .my_info, .alram, .study {
    margin-bottom: 20px;
    font-weight: normal;
  }
  .mypage span {
    color: #43b3c1;
  }
  
  
  
  
  
  .study_list {
    border: solid 1px #cccccc;
    min-height: 100%;
    margin-left: 230px;
    margin-right: 40px;
    font-size: 18px;
    font-weight: normal;
    padding-bottom: 40px;
    position: relative;
  }
  
  .study_list p {
    margin: 0px;
    line-height: 20px;
    padding: 0;
    font-size: 16px;
    padding: 18px;
    border-bottom: solid 1px #cccccc; 
    text-align: center;
  }
  
  .study_list #button {
    font-size: 30px;
    display: inline-block;
    float: right;
    margin-right: 30px;
    margin-top: -45px;
    border: none;
    background-color: #fff;
    cursor: pointer;
  }

  .study_list #button1 {
    font-size: 30px;
    display: inline-block;
    float: right;
    margin-right: 30px;
    margin-top: -45px;
    border: none;
    background-color: #fff;
    cursor: pointer;
  }

  .study_list #button img {
    width: 18px;
    height: 18px;
  }

  .study_list #button1 img {
    width: 18px;
    height: 18px;
  }

  #toggle li:nth-child(1) {
    font-size: 16px;
    color: #43b3c1;
    margin-bottom: 30px;
  }
  #toggle li:nth-child(2) {
    font-size: 16px;
  }

  #toggle .createbtn {
    all: unset;
    font-size: 16px;
    color: #696969;
    margin-top: 30px;    
    cursor: pointer;       
  }

  #toggle ul {
    margin: 30px;
    cursor: pointer;
  }

  #toggle .subtitle {
    font-size: 16px;
    color: #696969;
  }

  #toggle {
    display: inline-block;
    text-align: center;
    box-shadow: -0.2px 1.4px 3.8px 0.2px rgba(0, 0, 0, 0.3);
    width: 100%;
    position: absolute;
    background-color: white;
  }

  .study_list > ul {
    width: 928px;
    padding: 20px;
    margin: 0;
  }
  
  .study_list > ul > li {
    list-style: circle;
    font-weight: bold;
    margin: 20px 60px;
  }
  
  
  .list {
    margin-top: -10px;
    padding: 0;
    float: left;
  }
  
  .list > li{
    float: right;
    margin:  15px 30px;
    font-size: 14px;
    font-weight: normal;
  }
  
  .list a {
    margin: 10px;
  }


  /*공지사항*/
  .notice {
      display: inline-block;
      margin: 100px;
      margin-top: 50px;
  }
  
  .notice span {
    margin-top: 15px;
    float: left;
    font-size: 18px;
    font-weight: bold;
  }

  .noc_table {
    margin-left: 150px;
    border-spacing: 10px;
  }

  .noc_table tr {
      line-height: 30px;
  }

  .noc_table tr td:nth-child( 1 ) {
    width: 25%;
    font-size: 13px;
    color: #43b3c1;
    overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap;
  }
  .noc_table tr td:nth-child( 2 ) {
    font-size: 14px;
    font-weight: bold;
    overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap;
}
  .noc_table tr td:nth-child( 3 ) {
    width: 10%;
    font-size: 13px;
    color: #696969;
    text-align: right;
}

/*주차별 수업*/
.day_study {
    display: inline-block;
    margin: 100px;
    margin-top: -80px;
}

.day_study span {
  margin-top: 10px;
  float: left;
  font-size: 18px;
  font-weight: bold;
}

.day_table {
  margin-left: 150px;
  border-spacing: 10px;
}

.day_table tr {
    line-height: 30px;
}

.day_table tr td img {
    width: 100px;
    height: 60px;
}

.day_table tr td:nth-child( 1 ) {
  width: 20%;
  font-size: 13px;
  color: #43b3c1;
  overflow:hidden;
  text-overflow:ellipsis;
  white-space:nowrap;
}
.day_table tr td:nth-child( 2 ) {
  font-size: 14px;
  font-weight: bold;
  overflow:hidden;
  text-overflow:ellipsis;
  white-space:nowrap;
}
.day_table tr td:nth-child( 3 ) {
    width: 10%;
    font-size: 14px;
    color: #43b3c1;
    overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap;
  }
.day_table tr td:nth-child( 4 ) {
  width: 10%;
  font-size: 13px;
  color: #696969;
  text-align: right;
}


/*주차별 과제제출*/
.day_sub {
    float: left;
    width: 35%;
    margin-left: 250px;
    margin-right: 20px;
    margin-top: -100px;
}
.day_sub span {
    font-size: 18px;
    font-weight: bold;
    margin-left: 10px;
}
.sub_table {
    margin-top: 30px;
    border-spacing: 10px;
}
.sub_table tr td:nth-child( 1 ) {
    font-size: 14px;
    font-weight: bold;
    overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap;
}
.sub_table tr td:nth-child( 2 ) {
    width: 30%;
    font-size: 12px;
    color: #43b3c1;
    text-align: center;
    overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap;
}
.sub_table tr td:nth-child( 3 ) {
    width: 10%;
    font-size: 12px;
    color: #696969;
    overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap;
}


/*커뮤니티*/
.community {
    width: 250px;
    margin: 0;
    float: right;
    margin-top: -200px;
    margin-right: 60px;
}
  .community span {
    font-size: 18px;
    font-weight: bold;
  }
  
  .community .re_real {
    display: inline-block;
  }
  
  .community .realtime {
    font-size: 12px;
    color: #43b3c1;
  }
  
  .community .recommend {
    font-size: 12px;
    color: #696969;
  }
  
  .question {
    position: relative;
    width: 210px;
    height: 70px;
    border-radius: 10px;
    background-color: #b6e1e7;
    margin-bottom: 10px;
    margin-top: 20px;
  }
  
  .text {
    display: inline-block;
    font-size: 14px;
    font-weight: bold;
    margin: 10px;
    margin-bottom: 7px;
    vertical-align: middle;
  }
  .part {
    margin-left: 10px;
  }
  .part .smallpart {
    position: absolute;
    font-size: 12px;
    color: #696969;
    bottom: 7px;
  }
  .answer {
    position: relative;
    float: right;
    width: 210px;
    height: 70px;
    border-radius: 10px;
    background-color: #b6e1e7;
  }
  
  
  
footer {
    right: 0;
    left: 0;
    position: absolute;
    margin-top: 100px;
    min-width: 1180px;
    background-color: #666666;
    padding: 20px; 
    color: #ffffff;
  }
  
  .footer_f {
    width: 1200px;
    margin: 0 auto;
    padding-left: 50px;
  }
  
  .info {
    font-weight: normal;
    font-size: 11px;
    padding: 0;
  }
  
  .info span {
    margin: 10px;
  }
  
  address {
    font-size: 10px;
    font-style: normal;
    margin-top: 25px;
  }
  
  address span {
    margin: 10px;
  }
  
  footer p {
    font-size: 10px;
    margin-top: 10px;
  }
  
  .f_logo {
    margin-top: 10px;
    margin-right: 100px;
    float: right;
    font-size: 50px;
    font-weight: bolder;
  }
  
  .f_logo span {
    color: #43b3c1;
  }