html {
  height: 100%;
  margin: 0 auto;
  font-family: "NanumSquareRound", sans-serif;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;

}

body {
  height: 100%;
  margin: 0 auto;
  padding: 0 auto;
}

.body {
  min-height: 100%;
  position: relative;
  width: 1200px;
  margin: 0 auto;
}




/*메뉴와 로고 설정*/
header {
  margin: 0 auto;
  top: 0;
  width: 1200px;
  height: 100px;
}

header > div {
  float: left;
  width: 830px;
}

.Logo {
  line-height: 40px;
  margin: 30px 55px 30px 65px;
  float: left;
  font-weight: 800;
  font-size: 36px;
}

.Logo span {
  color: #43b3c1;
}

.menu {
  float: right;
  padding: 0px;
  margin: 0px;
}

.menu li {
  float: left;
}

.menu a {
  line-height: 40px;
  margin: 30px 55px;
  display: block;
  color: black;
  font-size: 16px;
  font-weight: 400;
}




.cr {
  min-width: 1200px;
  height: 30px;
  line-height: 30px;
  font-size: 14px;
  text-align: left;
  border-top: solid 2px #eeeeee;
  border-bottom: solid 2px #eeeeee;
  margin: 0px;
}

.cr p {
  width: 1200px;
  margin: 0 auto;
  padding-left: 130px;
}




.st_cr {
  font-size: 28px;
  font-weight: normal;
  text-align: center;
  margin: 110px auto;
}

form {
  margin: 0px 280px;
  font-size: 16px;
}

form div {
  margin-bottom: 41px
}




/*스터디 이름 */
.studyname input {
  width: 350px;
  height: 45px;
  margin-top: 12px;
}




/*상단 이미지 업로드*/
.t_img input {
  height: 45px;
  margin-top: 12px;
}




/*분류 선택*/
.check label {
  margin-right: 70px;
}

.check p {
  margin-bottom: 34px;
}

.check input {
  margin-bottom: 20px;
}


label:nth-child(5) {
  margin-right: 55px;
}




/*.st_i textarea {
  margin-top: 12px;
  margin-bottom: 20px;
  width: 640px;
  height: 150px;
  resize: none;
}

.st_i input {
  height: 45px;
}

.c_f input {
  margin-top: 12px;
  height: 45px;
}*/

textarea {
  resize: none;
}
form p {
  word-spacing: 5px;
}



/*버튼*/
.button {
  margin-top: 100px;
  text-align: center;
}

.button input {
  margin: 0 auto;
  width: 150px;
  height: 45px;
  font-size: 16px;
  font-weight: normal;
  border: none;
}

.button [type=submit] {
  color: #ffffff;
  background-color: #43b3c1;
  margin-right: 10px;
}

.button [type=button] {
  color: #666666;
  background-color: #eeeeee;
}





footer {
  right: 0;
  left: 0;
  position: absolute;
  margin-top: 100px;
  min-width: 1200px;
  background-color: #666666;
  padding: 20px;
  color: #ffffff;
}

.footer_f {
  width: 1200px;
  margin: 0 auto;
  padding-left: 50px;
}

.info {
  font-weight: normal;
  font-size: 11px;
  padding: 0;
}

.info span {
  margin: 10px;
}

address {
  font-size: 10px;
  font-style: normal;
  margin-top: 25px;
}

address span {
  margin: 10px;
}

footer p {
  font-size: 10px;
  margin-top: 10px;
}

.f_logo {
  margin-top: 10px;
  margin-right: 100px;
  float: right;
  font-size: 50px;
  font-weight: bolder;
}

.f_logo span {
  color: #43b3c1;
}
