html {
  height: 100%;
  margin: 0 auto;
  font-family: "NanumSquareRound", sans-serif;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;

}

body {
  height: 100%;
  margin: 0 auto;
  padding: 0 auto;
}

.body {
  position: relative;
  width: 1200px;
  margin: 0 auto;
}

header {
  width: 1200px;
  min-height: 100%;
  top: 0;
  height: 100px;
}

header > div {
  float: left;
  width: 1200px;
}

.Logo {
  line-height: 40px;
  margin: 30px 55px 30px 65px;
  /*상하여백 60->30으로 수정*/
  float: left;
  font-weight: 800;
  font-size: 36px;
}

/* 로고 글씨색 수정 */
.Logo span {
  color: #43b3c1;
}

nav {
  margin-left: 300px;
}

.menu {
  padding: 0px;
  margin: 0px;
}

.menu li {
  float: left;
}

.menu a {
  line-height: 40px;
  margin: 30px 55px;
  /*상하여백 60->30으로 수정*/
  display: inline-block;
  color: black;
  font-size: 16px;
  /*크기수정*/
  font-weight: 400;
}

.login {
  float: right;
  margin-right: 80px;
}

.login li {
  float: left;
  line-height: 30px;
  margin: 20px 11px;
  display: inline-block;
  color: #696969;
  font-size: 14px;
  font-weight: normal;
}

.login a {
  color: #696969;
}







.swiper-container {
  width: 1200px;
  height: 400px;
  margin-bottom: 50px;
}


.img {
  background-image: url(../img/main.png);
  width: 1200px;
  height: 400px;

}

.c_info {
  z-index: 10;
  padding: 65px 100px;
  color: #ffffff;
}

.best {
  color: #ffffff;
  font-weight: bold;
  font-size: 24px;
  margin-bottom: 10px;
}

.name {
  font-size: 40px;
  font-weight: 800;
  margin: 13px 0px;
}

.sub {
  font-size: 18px;
  font-weight: normal;
  width: 230px;
  line-height: 24px;
}

h2 {
  margin-bottom: 20px;
  font-size: 24px;
  font-weight: bold;
  margin-left: 125px;
}

.slider {
  margin-left: 125px;
  width: 1000px;
}
.study {
  margin: 0 auto;
  width: 280px;
}

.study img {
  width: 280px;
  height: 200px;
}

.study_title {
  font-size: 18px;
  font-weight: bold;
}

.study p {
  margin: 5px 0px;
}

.checked {
  font-size: 13px;
  color: #808080;
  font-weight: lighter;
}

.p {
  margin-right: 80px;
  margin-top: 12px;
  float: right;
  color: #43b3c1;
  font-size: 14px;
  font-weight: normal;
}

.founder {
  margin-top: 20px;
  font-size: 16px;
}

.founder span {
  font-weight: bold;

}

.slick-next {
  background: url(../img/iconfinder_arrow-left-01_186410.png);
  display: hidden;
  position: absolute;
  background-size: cover;
  width: 60px;
  height: 60px;
  text-indent: -9999px;
  border: none;
  left: -110px;
  top: 80px;
  outline: none;
  cursor: pointer;
}

.slick-prev {
  background: url(../img/iconfinder_arrow-right-01_186409.png);
  display: hidden;
  position: absolute;
  background-size: cover;
  width: 60px;
  height: 60px;
  text-indent: -9999px;
  border: none;
  right: -60px;
  top: 70px;
  outline: none;
  cursor: pointer;
}











footer {
  right: 0;
  left: 0;
  position: absolute;
  margin-top: 100px;
  min-width: 1200px;
  background-color: #666666;
  padding: 20px;
  color: #ffffff;
}

.footer_f {
  width: 1200px;
  margin: 0 auto;
  padding-left: 50px;
}

.info {
  font-weight: normal;
  font-size: 11px;
  padding: 0;
}

.info span {
  margin: 10px;
}

address {
  font-size: 10px;
  font-style: normal;
  margin-top: 25px;
}

address span {
  margin: 10px;
}

footer p {
  font-size: 10px;
  margin-top: 10px;
}

.f_logo {
  margin-top: 10px;
  margin-right: 100px;
  float: right;
  font-size: 50px;
  font-weight: bolder;
}

.f_logo span {
  color: #43b3c1;
}
