html {
  height: 100%;
  margin: 0 auto;
  font-family: "NanumSquareRound", sans-serif;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
}

body {
  height: 100%;
  margin: 0 auto;
  padding: 0 auto;
}

.body {
  position: relative;
  min-height: 100%;
  width: 1200px;
  margin: 0 auto;
}

header {
  top: 0;
  height: 100px;
}

header > div {
  float: left;
  width: 830px;
}

.Logo {
  line-height: 40px;
  margin: 30px 55px 30px 65px;
  float: left;
  font-weight: 800;
  font-size: 36px;
}

.Logo span {
  color: #43b3c1;
}

.menu {
  float: right;
  padding: 0px;
  margin: 0px;
}

.menu li {
  float: left;
}

.menu a {
  line-height: 40px;
  margin: 30px 55px;
  display: block;
  color: black;
  font-size: 16px;
  font-weight: 400;
}

.menu span {
  color: #43b3c1;
}

.middleText {
  position: relative;
  margin-bottom: 30px;
}

.study_img {
  margin-top: 34px;
  width: 1200px;
  height: 300px;
}

.study_title {
  position: absolute;
  margin: 0;
  margin-top: -60px;
  margin-left: 40px;
  font-size: 32px;
  font-weight: bold;
  color: #fff;
}

/*좌측 네비게이션*/
h2 {
  font-size: 28px;
  font-weight: normal;
  margin: 60px 35px 60px;
}

.mypage {
  position: sticky;
  float: left;
  top: 20px;
  margin-left: 40px;
  border-radius: 10px;
  border: solid 2px #39bde7;
  width: 160px;
  height: 230px;
  text-align: center;
  font-size: 16px;
}

.page {
  font-weight: bold;
  margin: 29px 0px;
  display: inline-block;
}

.my_info,
.alram,
.study {
  margin-bottom: 20px;
  font-weight: normal;
}

.secede {
  font-size: 12px;
  float: right;
  margin: 10px;
  margin-top: 20px;
  color: #43b3c1;
  cursor: pointer;
}

/*콘텐츠*/
.contents {
  float: left;
  margin-top: -50px;
}

.content1 {
  float: left;
}

.content2 {
  float: left;
  margin-left: 30px;
}

/*콘텐츠1(공지사항)*/
.notice h2 {
  font-weight: bold;
}

.notice ul {
  margin-top: -30px;
  margin-left: 20px;
}
.notice ul li {
  line-height: 30px;
  list-style: disc;
  font-size: 16px;
}
.notice ul div span {
  margin-left: 300px;
  color: #696969;
  font-size: 14px;
}

/*콘텐츠1(스터디목록)*/

.studylist h2 {
  font-weight: bold;
}

.studylist li > img {
  width: 100px;
  height: 60px;
  margin-right: 20px;
  display:inline-block;
  vertical-align:middle;
}

.studylist ul {
  margin-top: -30px;
}

.studylist ul li {
  font-size: 16px;
  margin-bottom: 20px;
}

.studylist ul span {
  line-height: 60px;
  float: right;
  color: #696969;
  font-size: 14px;
}


/*콘텐츠2(스터디참여자)*/
.attend h2 {
  font-weight: bold;
}

.people_area {
  position: sticky;
  margin-top: -50px;
  margin-left: 30px;
  width: 300px;
  height: 135px;
  border-radius: 10px;
  border: solid 1px #808080;
  overflow:auto;
}
.people_area::-webkit-scrollbar {
  width: 10px;
}
.people_area::-webkit-scrollbar-thumb {
  background-color: #cccccc;;
  border-radius: 10px;
  border: 2px solid transparent;
}
.people_area::-webkit-scrollbar-track {
  border-radius: 10px;
  margin: 10px;
}

.people_area ul {
  padding-left: 30px;
  text-align: center;
  display: inline-block;
}

.people_area ul li {
  float: left;
  line-height: 35px;
  letter-spacing: 5px;
}


/*콘텐츠2(제츨목록)*/
.sublist h2 {
  font-weight: bold;
  margin-bottom: 50px;
}

.sublist ul {
  margin-top: -20px;
}

.sublist ul li {
  line-height: 30px;
}

.sublist ul .day {
  color: #696969;
  font-size: 14px;
  margin-right: 10px;
}

.sublist ul .complate {
  float: right;
  font-size: 12px;
  letter-spacing: normal;
  color: #43b3c1;
}

/*콘텐츠2(커뮤니티)*/
.community {
  margin-left: 30px;
}
.community h2 {
  margin: 0;
  margin-right: 120px;
  margin-bottom: 20px;
  font-weight: bold;
  display: inline-block;
}

.community .re_real {
  display: inline-block;
}

.community .realtime {
  font-size: 12px;
  color: #43b3c1;
}

.community .recommend {
  font-size: 12px;
  color: #696969;
}

.question {
  width: 230px;
  height: 70px;
  border-radius: 10px;
  background-color: #b6e1e7;
  margin-bottom: 10px;
}

.text {
  display: inline-block;
  font-size: 14px;
  font-weight: bold;
  margin: 10px;
  margin-bottom: 7px;
}
.part {
  margin-left: 10px;
}
.part .smallpart {
  font-size: 12px;
  color: #696969;
}

.like {
  float: right;
  margin-top: -20px;
  margin-right: 10px;
}
.like img {
  width: 20px;
  height: 20px;
  cursor: pointer;
}
.like span {
  font-size: 12px;
  color: #696969;
  vertical-align: middle;
}

.answer {
  float: right;
  width: 230px;
  height: 70px;
  border-radius: 10px;
  background-color: #b6e1e7;
}


/*Footer*/
footer {
  right: 0;
  left: 0;
  position: absolute;
  margin-top: 100px;
  min-width: 1200px;
  background-color: #666666;
  padding: 20px;
  color: #ffffff;
}

.footer_f {
  width: 1200px;
  margin: 0 auto;
  padding-left: 50px;
}

.info {
  font-weight: normal;
  font-size: 11px;
  padding: 0;
}

.info span {
  margin: 10px;
}

address {
  font-size: 10px;
  font-style: normal;
  margin-top: 25px;
}

address span {
  margin: 10px;
}

footer p {
  font-size: 10px;
  margin-top: 10px;
}

.f_logo {
  margin-top: 10px;
  margin-right: 100px;
  float: right;
  font-size: 50px;
  font-weight: bolder;
}

.f_logo span {
  color: #43b3c1;
}
